
.dark .table-container {
  background-color: #1e1e1e; 
}


.dark table thead th {
  background-color: #181818; 
  color: #e5e5e5; 
}


.dark table tbody tr {
  background-color: #1e1e1e;
}


.dark table tbody tr:hover {
  background-color: #2a2a2a;
}
